/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
}

#container {
  width: 1000px;
  height: auto;
  background-color: rgba(255, 0, 221, 0.158);

}

#topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e288de;
  width: 1000px;
  height: 300px;
  padding: 10px;
}

.foto {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#titulo img {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  margin: 10px 0;
  justify-items: left;
}

#conteudo {
  width: 100%;
  background-color: whitesmoke;
  justify-content: left;
  padding: 20px;
  font-size: 20px;
}


a {
  text-decoration: none;
  color: black;
}

#title {
  width: auto;
  justify-content: space-between;
  margin-top: 2%;
  font-size: 20px;
  display: flex;
  font-style: normal;
  color: black;
  gap: 1rem;
}

.conteudo-coluna p {
  margin-bottom: 1rem;
}

.rodape {
  width: auto;
  margin-top: 2%;
  justify-content: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.lista li {
  margin-bottom: 1rem;
}

.conteudo-coluna {
  width: 50%;
}

.conteudo-rodape {
  width: 50%;
}

#container-conteudo {
  padding-left: 50px;
  padding-right: 50px;
}

#informacoes p {
  text-align: justify;
}

